.pdf_document {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.pdf_window {
  width: 95%;
  height: 90%;
  overflow: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.pdf_window::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.pdf_window::-webkit-scrollbar-track {
  border-radius: 5px;
  margin: 10px 10px;
}

.pdf_window.dark::-webkit-scrollbar-track {
  background-color: #ffffff33;
}

.pdf_window.light::-webkit-scrollbar-track {
  background-color: #ffffffcc;
}

.pdf_window::-webkit-scrollbar-thumb {
  border-radius: 5px;
  cursor: pointer;
  background-color: #0078d7;
}

.pdf_window::-webkit-scrollbar-corner {
  overflow: hidden;
}

@media (max-width: 767px) {
  /* Mobile-specific styles */
  .pdf_document {
    padding: 5px;
  }

  .pdf_window {
    width: 98%;
  }
}
