.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
  height: 100%;
}

.divider {
  width: 1px;
  height: 75%;
}

.divider.light {
  background-color: #000000;
}

.divider.dark {
  background-color: #ffffff;
}

.left_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: calc(60% - 30px);
  padding: 20px;
  height: 100%;
}

.right_section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: calc(40% - 30px);
  padding: 20px;
  height: 100%;
  margin: 16px 0px;
}

.tech_stack {
  height: 60%;
  width: 100%;
  margin: 16px 0px;
  padding: 6px;
}

.ts_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ts_container {
  width: 100%;
  height: 100%;
}

.pdf_open_button {
  all: unset;
  height: 60px;
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 0;
  color: inherit;
  font-family: inherit;
  outline-offset: -5px;
  background-color: #0078d733;
}

.pdf_open_button.dark {
  background-color: #0078d7;
  outline: #ffffff 1px solid;
}

.pdf_open_button.light {
  background-color: #ffffff40;
  outline: #000000 1px solid;
}

.pdf_open_button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.pdf_icon.light {
  filter: brightness(0);
}
