.container_title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.projects_list_container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects_viewer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90%;
}

.projects_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 2.5%;
  height: 100%;
  width: 100%;
}

.buffer {
  width: 24px;
}

.arrow:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 767px) {
  /* Mobile-specific styles */
  .projects_list_container {
    width: 100%;
  }
}
