.projects_list_container {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects_list_box {
  width: calc(85% - 40px);
  height: calc(90% - 40px);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px #00000066;
}

.projects_list_box.dark {
  /* background-color: transparent; */
  background-color: rgb(36, 36, 36, 0.5);
  color: #ffffff;
  outline: #d9d9d9 solid 1px;
  /* outline-offset: -5px; */
}

.projects_list_box.light {
  background-color: #0e233033;
  color: #000000;
}

.projects_viewer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90%;
}

.projects_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 2.5%;
  height: 100%;
  width: 100%;
}

.page_dots {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.page_dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffff33;
}

.page_dot.selected {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #ffffff;
}

.buffer {
  width: 24px;
}

.arrow:hover {
  opacity: 0.8;
  cursor: pointer;
}
