.box {
  position: relative;
  width: calc(47.5% - 15px);
  height: calc(47.5% - 30px);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #00000040;
  padding: 15px;
  outline-offset: -5px;
}

.box.light {
  background-color: #ffffff40;
  outline: 1px solid rgb(0, 0, 0);
}

.box.dark {
  background-color: #000000;
  outline: 1px solid rgb(255, 255, 255);
}

.open_link {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.open_link.light {
  filter: brightness(0);
}

.open_link:hover {
  cursor: pointer;
}

.title {
  font-weight: bold;
}

.title.light {
  color: #000;
}

.title.dark {
  color: #fff;
}

.description {
  font-size: 14px;
  margin-top: 5px;
  height: 50%;
  
}

.description.light {
  color: #606060;
}

.description.dark {
  color: #949494;
}

.chips_container {
  display: flex;
  flex-wrap: wrap;
}
