.chip_container {
  padding: 5px;
  border-radius: 3px;

  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  width: fit-content;
  margin: 4px 5px 2px 0px;
}

.chip_container.light {
  color: #000000;
}

.chip_container.dark {
  color: #ffffff;
}

@media (max-width: 767px) {
  /* Mobile-specific styles */
  .chip_container {
   padding: 2px;
   font-size: 10px;
  }
}