.sending_animation {
  height: 12px;
  border-radius: 8px;
  border: 2px solid #ffffff;
  animation: sending 3s infinite ease-in-out;
}

@keyframes sending {
  0%,
  10% {
    transform: translateX(-48px);
    width: 12px;
  }
  30% {
    transform: translateX(0px);
    width: 96px;
  }
  50%,
  60% {
    transform: translateX(48px);
    width: 12px;
  }
  80% {
    transform: translateX(0px);
    width: 96px;
  }
  100% {
    transform: translateX(-48px);
    width: 12px;
  }
}