.container {
  width: 33%;
  height: 47.5%;
  outline-offset: -5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container.light {
  background-color: #ffffff40;
  outline: 1px solid #000000;
}

.container.dark {
  background-color: #000000;
  outline: 1px solid #ffffff;
}

.image {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image.light {
  filter: invert(1);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 767px) {
  /* Mobile-specific styles */
  .container {
    height: 8rem;
  }

  .title {
    font-size: 12px;
  }
}
