.container {
  width: 80%;
}

.title {
  font-family: inherit !important;
}

.time {
  font-family: inherit !important;
  font-size: 12px !important;
}

.sub_title {
  font-size: 14px;
}

.description {
  font-size: 14px;
}

.description.light {
  color: #606060;
}

.description.dark {
  color: #949494;
}

.line {
  background-color: #949494 !important;
}

.dot {
  background-color: #0078d7 !important;
}

@media (max-width: 767px) {
  /* Mobile-specific styles */
  .container {
    width: 100%;
  }
}
