.projects_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 140px);
  padding: 20px;
}

.projects_description {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  width: 1px;
  height: 75%;
}

.divider.dark {
  background-color: #ffffff;
}

.divider.light {
  background-color: #000000;
}
