.resume_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 140px);
  padding: 20px;
}

@media (max-width: 767px) {
  /* Mobile-specific styles */
  .resume_container {
    padding: 0px;
    height: calc(100% - 100px);
  }
}
